body {
    background-color: rgb(30, 30, 30);
    font-family: 'Robot', sans-serif;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F9FAF8;
}

.headerContainer {
    margin: 0rem 10rem 0rem 10rem;
}

.headerImg {
    margin: 0rem 5rem 5rem 0rem;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-width: thick;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

h1 {
    color: #F9FAF8
}

.headerSubtext {
    color: #E5E7EB
}

.headerContent {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.headerBg {
    background-color: #1F2937;
    margin-left: 10rem;
    margin-right: 10rem;
}

.section {
    background-color: #F9FAF8;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 16px;
}

.sectionContainer {
    margin: 5rem 5rem 5rem 5rem;
}

.sectionTitle {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.sectionImgs {
    display: flex;
    justify-content: space-evenly;
}

.imgsPic {
    border-style: solid;
    border-radius: 6px;
    border-color: #3882F6;
    border-width: thick;
    display: flex;
    justify-content: center;
}

.imgSub {
    display: flex;
    justify-content: center;
}

.quoteBg {
    background-color: #E5E7EB;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 16px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin: 5rem 5rem 5rem 5rem;
}

.quoter {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin: 0rem 15rem 5rem 0rem;
}

.bannerSectionBg {
    background-color: #F9FAF8;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
}

.bannerBg {
    background-color: #3882F6;
    display: inline-block;
    margin: 5rem 5rem 5rem 5rem;
    border-radius: 10px;
    padding: 16px;
    width: 175vh;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

.bannerText {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bannerButton {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    margin-left: 10rem;
    margin-right: 10rem;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 16px;
}

footer {
    width: 100%;
}

.headerLogo {
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 16px;
}